.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 5px 1px grey;
}

.right-header {
    cursor: pointer;
}