* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
}

.booking-picker {
    margin: 50px auto;
    text-align: center;
}

/* RESPONSIVE */

@media only screen and (max-width: 414px) {

    .navbar {
        display: flex !important;
        padding: 0 30px !important;
    }

    .calendar-title {
        font-size: 25px;
    }

    .hotels-cards {
        flex-direction: column !important;
    }

    .shows-cards {
        flex-direction: column !important;
    }

    .home {
        height: 50% !important;
    }

    .home-title {
        font-size: 25px !important;
    }

    .formulaire {
        width: 80% !important;
    }

    .order-page-title {
        font-size: 20px;
    }

    .order-container {
        flex-direction: column !important;
    }

    .infos-order {
        text-align: left !important;
    }
}