* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
}

.booking-picker {
    margin: 50px auto;
    text-align: center;
}

.booking-picker {
    margin-bottom: 50px;
}

.hotels-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 50px;
}